.first-section{
    background-color: #00ccff;
    
}
.about{
    
}
.descriptions{
    margin-left: 16px;
    padding: 10px;
}
.icon img{
    width:25px;
    margin-right: 10px;
}
.icon{
    margin-top: 10px;
    display: flex;
}
.comfortable{
    margin-top: 5px;
    width: 265px;
    margin-left: 16px;
    padding: 10px;
}
.comfortable h6{
    font-size: 14px;
}
.projects h6{
    font-size: 14px;
}
.Single-projects{
    border: 1px solid gray;
    border-radius: 3px;
    margin: 15px;
    padding: 15px;
}
.link{
    display: flex;
    margin-left: 30px;
}
.link img{
    width: 25px;
    margin: 10px 10px;
}
.Single-projects li{
    font-size: 14px;
    font-weight: bold;
}
.Single-projects h5{
    color: aqua;
}

.btn{
   
    margin-bottom: 40px;
}
.upperLevel{
    display: flex;
}
.connect{
    text-align: right;
    margin-left: 140px;
    margin-top: 10px;
    display:flex;
}
.link-img{
    margin-left: 10px;
}